body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", monospace;
  background-color: white;
}

.app__outer {
  min-height: calc(100vh - 56px); /* do not consider header height */
}

.app__container {
  max-width: 420px;
  min-height: 420px;
  width: 100%;
}
