"rules": {
  "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  "indent": ["error", 2],
  "max-len": 0,
  "import/no-unresolved": 0,
  "no-underscore-dangle": [
    "error",
    {
      "allow": [
        "_id",
        "_ensureIndex",
        "_verifyEmailToken",
        "_resetPasswordToken",
        "_name"
      ]
    }
  ]
}
